.progress-bar {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle {
  height: 100%;
  right: 0px;
  position: absolute;
  border: solid 5px #a9a9a9;
  border-top-color: #a9d161;
  border-radius: 50%;
}

.border {
  width: 100%;
  transform: rotate(135deg);
  animation: spin 1.3s steps(2) 0.2s infinite;
  -webkit-animation: spin 1.3s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  padding: 0px;
}
.circle {
  width: 150px;
  height: 150px;
  position: relative;
  top: 170px;
  left: 170px;
  background-color: #0cb1c4;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
  /* transform: rotate(0.3rad);/ */
  /* transform: rotate(3grad); */
  /* transform: rotate(.03turn);  */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.radial_stripes {
  /* Radial Stripes elements in the "body" part of the page */
  width: 500px;
  height: 500px;
  /*   position:fixed; */
  top: 0px;
  left: 5px;
  opacity: 0.8;
  animation: spin 1.3s steps(2) 0.2s infinite;
  -webkit-animation: spin 1.3s linear infinite;
  /*   animation:rotate 60s infinite linear; */
  object-position: 0px;
}

/* Images for re-use via classes */
.radial_stripes {
  background: url("https://svgshare.com/i/mha.svg");
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Animation keyframes */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Wheel HTML

<div></div>

<div class="progress-bar">
  <div class="circle border">
  </div>
  <div class=radial_stripes </div>
</div>
*/
